---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/about">About</a>
        <a href="/blog">Blog</a>
        <h1>About</h1>
		<h2>Construyendo un nuevo sitio con Astro</h2>
        <p>Este sitio está siendo creado siguiendo la guía del sitio oficial de Astro</p>
        <a href="https://docs.astro.build/en/tutorial/0-introduction/">Link</a>
	</body>
</html>
